*{

margin:0px;
}
	#container{
	display: grid;
	grid-template-columns: 340px 350px 340px ;
	grid-template-rows: 350px 350px 350px  ;
	grid-gap: 80px;
	margin-left: 250px;
	position: absolute;
	top: 80px;


}
			#item1{
				justify-content: space-around;
				z-index: 10;
				box-shadow: 0px 6px 5px 6px maroon;
				border-radius: 200px;
			}
			#item2{
				
				z-index: 10;
				box-shadow: 0px 6px 5px 6px maroon;
				border-radius: 200px;
			
			}
			#item3{
				justify-content: space-around;
				z-index: 10;
				box-shadow: 0px 6px 5px 6px maroon;
				border-radius: 200px;
			}
			#item4{
				
				z-index: 10;
				box-shadow: 0px 6px 5px 6px maroon;
				border-radius: 200px;
			}
			#item5{
				justify-content: space-around;
				z-index: 10;
				box-shadow: 0px 6px 5px 6px maroon;
				border-radius: 200px;
			}
			#item6{
				justify-content: space-around;
				z-index: 10;
				box-shadow: 0px 6px 5px 6px maroon;
				border-radius: 200px;
			}
			body{
				background-color: #f3f3f3
			}
			#sidebar{
				background-color: red;
				width: 15%;
				height: 100%;
			}
			
#search{
	position: absolute;
	top:20px;
	left:500px;
}
#menu li ul{
	margin-left: 220px;
	top: 5px;
	z-index: 200;
}
#menu .second ul{
	margin-left: 220px;
	top: 35px;
	z-index: 200
}
#third ul{
	margin-top:60px;
	z-index: 200
}h4{
	font-family: sans-serif;
	color: black;
	margin-left: 100px;
	margin-top: 20px;
	font-size: 25px
;
}
img{
	float:right;
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 50px;
	border: 2px solid yellow;
}
body{
	background-image: url(f49eb3700e5f4e227c1767852139b7d3.jpg);
}